################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/apps/backEnd/Sukun/.vs/Sukun
/apps/backEnd/Sukun/.vs/ProjectEvaluation
